kaktus	23	kaktus.gif
apple 23        apple.gif
banana 23       banana.gif
bf 23           bf.gif
bocal 23        bocal.gif
boom 23         boom.gif
buket 23        buket.gif
buketik 23      buketik.gif
butil 23        butil.gif
cat1 23         cat1.gif
cat2 23         cat2.gif
ch 23           ch.gif
cigarete 23     cigarete.gif
coffee 23       coffee.gif
cvetk 23        cvetk.gif
dm 23           dm.gif
elka 23         elka.gif
fish 23         fish.gif
gama 23         gama.gif
glaza 23        glaza.gif
glaza3 23       glaza3.gif
gryb 23         gryb.gif
gubi 23         gubi.gif
heart 23        heart.gif
house 23        house.gif
hryak 23        hryak.gif
icon4 23        icon4.gif
kanfeta 23      kanfeta.gif
kol 23          kol.gif
krok 23         "krok!!!.gif"
kruzka 23       kruzka.gif
kuku 23         kuku.gif
m_bezr 23       m_bezr.gif
m_krivo 23      m_krivo.gif
m_mig 23        m_mig.gif
m_obida 23      m_obida.gif
m_smile 23      m_smile.gif
m_smu 23        m_smu.gif
m_udivl 23      m_udivl.gif
morda 23        morda.gif
morkov 23       morkov.gif
moroz 23        moroz.gif
mous 23         mous.gif
notki 23        notki.gif
ogurec 23       ogurec.gif
okorok 23       okorok.gif
palcy 23        palcy.gif
paska1 23       paska1.gif
peps 23         peps.gif
rose 23         rose.gif
rrose 23        rrose.gif
rulez1 23       rulez1.gif
ryba 23         ryba.gif
shashka 23      shashka.gif
skull 23        skull.gif
slon 23         slon.gif
snow 23         snow.gif
sop 23          sop.gif
sux1 23         sux1.gif
sves 23         sves.gif
terror 23       terror.gif
tort_ss 23      tort_ss.gif
udivlenie_m1 23 udivlenie_m1.gif
udivlenie_w21 23 udivlenie_w21.gif
yazik 23        yazik.gif
z_bezr 23       z_bezr.gif
z_krivo 23      z_krivo.gif
z_mig 23        z_mig.gif
z_obida 23      z_obida.gif
z_smile 23      z_smile.gif
z_smu 23        z_smu.gif
z_udivl 23      z_udivl.gif
zaba 23         zaba.gif
zai 23          zai.gif
zazig 23        zazig.gif
zont 23         zont.gif
zuby 23         zuby.gif

stvol	23	"stvol!!!.gif"
bibi	23	"bibi.gif"
vish	23	"vish.gif"
