body {color:#b8826d; background:Black !important}
a {text-decoration: none; font-weight: bolder !important}
.AdminName {font: normal 100% Comic Sans MS; !important}
.AdminText {font: 100% Comic Sans MS; !important}
.StrajName {font: 100% Comic Sans MS; text-align: center !important}
.StrajText {font: 100% Comic Sans MS; text-align: center !important}
.PrivateName {font: 100% Comic Sans MS; !important}
.PrivateText {font: 100% Comic Sans MS; !important}
.ChatText {font: 100% Comic Sans MS; !important}
.ChatName {font: 100% Comic Sans MS; !important}
.OurNick {font: bolder 100% Comic Sans MS; color: Red !important}